extends layout

block page
  //- Navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.mb-5
    .container.px-5
      a.navbar-brand(href=landingPageBaseUrl + "/")
        i.bi.bi-diamond-half.me-2
        = " "
        = title

      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href=landingPageBaseUrl + "/") Home
        li.nav-item
          a.nav-link.active(href='/share') Share

  .container.pb-3
    //- Page title
    if pageTitle
      h2.mb-3= pageTitle

    //- Page content
    block content

  //- Footer
  footer.fixed-bottom.py-5.bg-dark
    .container.px-5
      .m0.text-center.text-white
        | Copyright &copy;
        = " "
        = title
        = " "
        | 2021-2022
